<tr>
    <td><%= @deal.id %></td>
    <td><%= @deal.agreement %></td>
    <td><%= @deal.summ %></td> 
    <td><%= @deal.deal_date %></td>    
    <td><%= link_to 'Редактировать', edit_deal_path(@deal) %></td>
    <td><%= link_to 'Удалить', deal_path(@deal),  class: 'row-remove-deal new_deal', remote: true,
          method: :delete,
          data: { confirm: 'Вы точно хотите удалить сделку?' } %></td>
</tr>